<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89084506071-7u7q7u6n17fbdetg94nm0lfi0qdq8h49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89084506071-7u7q7u6n17fbdetg94nm0lfi0qdq8h49</string>
	<key>API_KEY</key>
	<string>AIzaSyDz05mCh3I82jtFPxjtyxHcBF6GxmjFt5s</string>
	<key>GCM_SENDER_ID</key>
	<string>89084506071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.enelsisApp</string>
	<key>PROJECT_ID</key>
	<string>enelsisapp</string>
	<key>STORAGE_BUCKET</key>
	<string>enelsisapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89084506071:ios:3c02c64a411a4c80122592</string>
</dict>
</plist>